$include /etc/inputrc

set colored-stats On
set completion-ignore-case On
# set completion-prefix-display-length 3
set mark-symlinked-directories On
set show-all-if-ambiguous On
set show-all-if-unmodified On
set visible-stats On
set bell-style none
# never show bell
set match-hidden-files On
# ensure hidden files are seen/matter in term completion
set editing-mode vi
# use vi keybinds for interaction
set echo-control-characters On
# show ^C, for example
set enable-keypad on
