[Desktop Entry]
Type=Application
Name=chromium
Comment=Chromium browser
Terminal=false
Exec=chromium %u
Categories=Network;WebBrowser
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
