[Desktop Entry]
Type=Application
Name=firefox
Comment=Firefox browser
Terminal=false
Exec=firefox %u
Categories=Network;WebBrowser
MimeType=x-scheme-handler/unknown;x-scheme-handler/about;x-scheme-handler/https;x-scheme-handler/http;text/html;
